:root {
    /* Font */
    --fs-body: 'Rubik', sans-serif;

    /* Font Weight */
    --fw-bold: 700;
    --fw-bolder: 900;
    --fw-normal: 400;
    --fw-light: 300;

    /* Colors */
    --primary-clr: #212121;
    --primary-lt-clr: #545454;
    --light-clr: #878787;
    --lighter-clr: #BABABA;
    --white-dark: #E8E8E8;
    --white: #FFFFFF;
}

body {
    font-family: var(--fs-body);
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 2px 2px rgba(148, 147, 147, 0.336);
}

.copy-link {
    font-size: .8rem;
}

.hero-main {
    background-image: url('/assets/imgs/waves/Waveslant.png');
    background-size: 100% 120%;
}

.robot {
    width: 25rem;
}

.about-div {
    width: 100%;
    background: url('./assets/imgs/waves/Wave.png') no-repeat bottom;
    background-size: 100% 40%;
}

.about-page {
    width: 100%;
    background: url('./assets/imgs/waves/Wave5.svg') no-repeat bottom;
    background-size: 100% 100%;
}

.img-wave2 {
    margin-top: -12rem;
}

.about-link {
    /* margin-right: 1rem; */
    color: var(--light-clr);
}

.about-links {
    margin-left: -2rem;
}

ul {
    list-style: none;
}

.link-active {
    color: var(--primary-clr);
    border-bottom: 2px solid var(--primary-clr);
    font-weight: var(--fw-bold);
}

.overlay-text {
    position: relative;
}

.approaches {
    /* width: 16rem; */
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    /* background-color: var(--white-dark); */
    transition: .5s ease;
    backface-visibility: hidden;
}

.mask {
    cursor: auto;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text:hover .approaches {
    /* opacity: 0.5; */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.overlay-text:hover .mask {
    opacity: 1;
}

.text-overlay {
    text-align: left;
    cursor: default;
    color: var(--white);
    font-size: 14px;
    padding: 16px 32px;
}

.text-overlay h4 {
    font-size: 1rem;
}

.text-overlay p {
    font-size: .9rem;
}

.long-line {
    padding: 1.8rem .15rem;
}

.long-text h4 {
    font-size: .85rem;
}

.long-text p {
    font-size: .65rem;
}

.team-social {
    text-align: right;
}

.team-overlay {
    position: relative;
}

.team-mask {
    cursor: auto;
    width: 100%;
    height: 30%;
    transition: .5s ease-in-out;
    opacity: 0;
    /* background: hsla(0, 0%, 100%, 0.5); */
    /* From https://css.glass */
    background: rgba(137, 136, 136, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: .5rem;
    /* text-align: center; */

}

/* .team-overlay:hover .approaches {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    filter: blur(1px);
    -webkit-filter: blur(1px);
} */

.team-overlay:hover .team-mask {
    opacity: 1;
}

.text-overlay-team {
    text-align: left;
    cursor: default;
}

.text-overlay-team h4 {
    font-size: 1rem;
}

.text-overlay-team p {
    font-size: .9rem;
}

.team-social {
    margin-top: -1.5rem;
}

.testimonials-div,
.contact-about {
    width: 100%;
    background: url('./assets/imgs/waves/Wave3.svg') no-repeat bottom;
    background-size: 100% 100%;
    height: 110vh;
}

.contact-div {
    width: 100%;
    background: url('./assets/imgs//waves/Wave4.svg') no-repeat bottom;
    background-size: 100% 100%;
    height: 110vh;
}

.mission {
    width: 100%;
    background: url('./assets/imgs//waves/Wave6.svg') no-repeat bottom;
    background-size: 100% 160%;
    /* height: 110vh;  */
}

.newsletter-bg {
    width: 100%;
    background: url('./assets/imgs/other/newsletter-bg.svg') no-repeat bottom;
    height: 100%;
    background-size: cover;
}

.testimonial-img,
.blog-img {
    max-width: 100%;
    width: 15rem;
}

.customer-info p {
    font-size: .9rem;
}

.customer-info h6 {
    font-size: 1rem;
}

.tel {
    margin-bottom: -.1rem;
}

.links-q {
    margin-left: -2rem;
}